body{
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  box-sizing: border-box;
  margin: 1% 5%;
}

header{
  padding-left: 3px;
}
.titolo{
  display: inline-block;
  margin-bottom: 3px;
}

hr{
  color: white;
}

#search_bar{
  width: 130px;
}

button{
  border-radius: 5px;
  border-width: thin;
}

#messages_unread{
  background-color: orange;
  border-radius: 50%;
  padding: 10px;
}

.email_read{
  background-color: lightgrey;
  border: 1px solid black;
}

.object{
  display: inline-block;
  width: 15%;
}

.subject{
  display: inline-block;
  width: 63%;
  color: grey;
}

#footer{
  text-align: center;
  color: white;
  font-weight: bold;
}

#gmailfooter{
  font-size: 26px;
}
